Repository diptanshumahish/watch, pull requests merged in 2023-02, with the labels that each got.

#19 Store user preferences locally #14
  lib/main.dart
  lib/models/user_model.dart
  lib/models/user_model.freezed.dart
  lib/models/user_model.g.dart
  lib/services/service_locator.dart
  lib/services/shared_preference_service.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: Flutter, JWOC, Hard

#24 Design the favorites page #16
  screen_ui_designs/sagnik-sanyal.png
Labels: JWOC, Hard, no code, design ui/ux

#26 signup page and login page added
  RunTerror_loginPage.png
  RunTerror_signupPage.png
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Podfile
  lib/main.dart
  lib/screens/login_page.dart
  lib/screens/signup_page.dart
  macos/Flutter/Flutter-Debug.xcconfig
  macos/Flutter/Flutter-Release.xcconfig
  macos/Podfile
  pubspec.lock
Labels: Flutter, JWOC, Medium

#27 Add firebase login to the project #23
  .gitignore
  android/app/build.gradle
  lib/main.dart
  lib/providers/disposable_provider/disposable_provider.dart
  lib/providers/multi_provider.dart
  lib/providers/theme_provider.dart
  lib/providers/user_provider.dart
  lib/screens/login_page.dart
  lib/screens/mainscreenpages/profile.dart
  lib/screens/signup_page.dart
  lib/services/auth_service.dart
  lib/services/service_locator.dart
  pubspec.lock
  pubspec.yaml
Labels: Flutter, JWOC, Hard

#30 Solves Redesign the profile page #13 under JWOC
  lib/services/auth_service.dart
  screen_ui_designs/sagnik-sanyal-my-profile(1).png
  screen_ui_designs/sagnik-sanyal-my-profile(2).png
  screen_ui_designs/sagnik-sanyal-my-profile(3).png
Labels: good first issue, JWOC, Medium, no code, design ui/ux
